<?xml version="1.0" encoding="UTF-8"?>
[Desktop Entry]
Type=Application
Version=1.0
Name=KHInsider
GenericName=Game Soundtrack Player
Comment=Stream and cache game soundtracks from KHInsider
Exec=khinsider
Icon=dev.khinsider.app
Terminal=false
Categories=Audio;Music;Player;
Keywords=soundtrack;game;music;player;khinsider;
StartupWMClass=khinsider
